body{
    background-color: rgb(0, 0, 0);
}


#product{
    text-align: center;
    color: rgb(255, 255, 255);
}





#all_catagory{
    text-align: center;
    color: rgb(255, 255, 255);
}

.card-body:hover{

    background-color: rgba(0, 0, 0, 0.836);
    color: rgb(255, 253, 253);
}

.col img:hover{
    transform: scale(1.05);
    border-radius: 10px;
}